.cache/
Desktop/
Documents/
Downloads/
Games/
.local/
.mozilla/
Music/
Pictures/
Public/
Templates/
Videos/
VirtualBox VMs/
.vscode/
.config/Code/CachedExtensionVSIXs/
.config/Code/User/workspaceStorage/
.config/Code/User/globalStorage
.config/Code/CachedData/
.ssh/id_ed25519
